h1 {
    color: #20B2AA;
}

.navbar-light .navbar-brand {
    color: white;
    background-color: #20B2AA;
}

.btn {
    background-color: #20B2AA;
    border: #20B2AA;
}

section {
    margin-top: 75px;
  }

figure {
    float: left;
    margin-right: 20px;
  }
